### **Importing the libraries**

In [ ]:
import pandas as pd
import openai
openai.api_key = "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"

### **Using OpenAI's API to remove unnecessary adjectives from a given text**

In [ ]:
def remove_adjectives(text):
    prompt = (f"rewrite this as a 4 year old child would and remove unnecessary adjectives and make it as concise as possible:\n\n{text}\n\nOutput:")
    model = "text-davinci-003"
    max_tokens = 1000
    response = openai.Completion.create(
        engine=model,
        prompt=prompt,
        max_tokens=max_tokens,
        n=1,
        stop=None,
        temperature=0.7,
    )
    filtered_text = response.choices[0].text
    return filtered_text

### **Loading data**

In [ ]:
data = pd.read_csv("children_books.csv")

In [ ]:
data

,Title,Author,Desc,Inerest_age,Reading_age
0,The Girl Who Drank the Moon,Kelly Barnhill,"Every year, the evil Protectorate offers a bab...",10-14,10-14
1,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
2,Girl Out of Water,Nat Luurtsema,Lou Brown's swimming ambitions sank without tr...,13-18,10+
3,Captive,A J Grainger,Robyn is scared. Ever since the attempted assa...,13+,13
4,The School of Music,Rachel Bowen and Meurig Bowen Illustrator: Dan...,Welcome to the School of Music. In charge is M...,10+,10+
...,...,...,...,...,...
3264,Spy for the Queen of Scots,Theresa Breslin,"Beautiful young aristocrat Ginette, known as J...",12+,12+
3265,Jimmy Corrigan:,Chris Ware,This extraordinary graphic novel is so obvious...,14+,14+
3266,The Martian Girl,NaN,"Following on from the brilliant Lost on Mars, ...",10+,10+
3267,Buffalo Soldier,Tanya Landman,Plantation slave Charley Smith is eleven when ...,13+,11+
3268,Witchstruck,Victoria Lamb,The future Elizabeth I has been imprisoned by ...,12+,12+

### **Creating a simplified version of the data**

In [ ]:
simplified_data = []
for i in data.index :
    simplified_data.append(remove_adjectives(data["Desc"][i]) )

In [ ]:
len(simplified_data)

3268

### **Preserving the original text**

In [ ]:
desc = []
for i in range(len(simplified_data)) :
    desc.append(data["Desc"][i])

In [ ]:
dict = {"simplified":simplified_data,"enhanced":desc}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
df

,simplified,enhanced
0,\nThe Protectorate offers a baby to the witch ...,"Every year, the evil Protectorate offers a bab..."
1,\nAnna is 16 and Bennett is new at school. He ...,Sixteen-year-old Anna is struggling to underst...
2,\nLou failed the Olympic time trials and her f...,Lou Brown's swimming ambitions sank without tr...
3,\nRobyn's scared. Dad's the British Prime Mini...,Robyn is scared. Ever since the attempted assa...
4,Welcome to Music School. Maestro Sergio is in...,Welcome to the School of Music. In charge is M...
...,...,...
3263,\nRory is in London at a new school. A serial ...,Louisiana teenager Rory is embarking on a new ...
3264,"\nGinette, or Jenny, is Mary Queen of Scots' c...","Beautiful young aristocrat Ginette, known as J..."
3265,\nJimmy's a lonely guy with a boring job and a...,This extraordinary graphic novel is so obvious...
3266,\nLost on Mars was great! The Martian Girl fol...,"Following on from the brilliant Lost on Mars, ..."
3267,\nCharley Smith is 11 when the Civil War start...,Plantation slave Charley Smith is eleven when ...

### **Exporting data to an Excel file**

In [ ]:
df.to_excel("data_vf.xlsx")