In [1]:
import openai
openai.api_key = "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"
def positive(text):
    prompt = (f"rephrase the following text to give a positive sentiment :\n\n{text}\n\nOutput:")
    model = "text-davinci-003"
    max_tokens = 1000
    response = openai.Completion.create(
        engine=model,
        prompt=prompt,
        max_tokens=max_tokens,
        n=1,
        stop=None,
        temperature=0.7,
    )
    filtered_text = response.choices[0].text
    return filtered_text

def negative(text):
    prompt = (f"rephrase the following text to give a negative sentiment :\n\n{text}\n\nOutput:")
    model = "text-davinci-003"
    max_tokens = 1000
    response = openai.Completion.create(
        engine=model,
        prompt=prompt,
        max_tokens=max_tokens,
        n=1,
        stop=None,
        temperature=0.7,
    )
    filtered_text = response.choices[0].text
    return filtered_text

c:\Users\trabe\AppData\Local\Programs\Python\Python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (5.1.0)/charset_normalizer (2.0.5) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [3]:
positive("Maia is a wonderful heroine, and Ibbotson weaves a charming, compelling and warm-hearted tale of friendship, our responsibility to those around us, and the importance of the natural world")

'\nMaia is a remarkable heroine, and Ibbotson creates a captivating, fascinating and loving story of companionship, our obligation to those close to us, and the significance of the natural environment.'

In [4]:
negative("Maia is a wonderful heroine, and Ibbotson weaves a charming, compelling and warm-hearted tale of friendship, our responsibility to those around us, and the importance of the natural world")

' Maia is a disappointing heroine, and Ibbotson creates a dull, unappealing and cold-hearted story of friendship, our neglect of those around us, and the insignificance of the natural world.'

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("final_data.xlsx")

In [4]:
data

,Unnamed: 0,simplified,enhanced
0,0,Story fun!,"This gentle, charming story is sure to be enjoyed"
1,1,Ian wrote about kids going through tough times...,Ian Serralier's moving account of the hardship...
2,2,Milo goes on adventures in a kingdom and learn...,Through Miloâs amusing and often mind-boggli...
3,3,Hiawyn Oram makes fantasy tales with illustrat...,Hiawyn Oram is a master at understanding and i...
4,4,"Tension rising, can they break the pattern and...","As tension begins to rise, can they break the ..."
...,...,...,...
2311,2311,Mare try escape King.,We follow Mare as she tries to escape from the...
2312,2312,"Mare sees if she should get others like her, f...",The reader sees Mare's inner struggle as she t...
2313,2313,Victoria made Mare go places beyond Silver Cou...,Victoria Aveyard has widened the world in whic...
2314,2314,Characters fight battles.,The characters now wage political and physical...
2315,2315,"Read Hunger Games and Maze Runner, then read R...",If you enjoyed The Hunger Games and The Maze R...

In [5]:
data = data.drop(['Unnamed: 0'],axis=1)

In [6]:
import time
positive_list = []
negative_list = []
for i in data.index :
    positive_list.append(positive(data['enhanced'][i]))
    negative_list.append(negative(data['enhanced'][i]))
    time.sleep(1)

In [8]:
len(positive_list)

2316

In [40]:
positive[1]

"Ian Serralier's moving account of the hardships the children and endure, and the self-knowledge and maturity they gain through their ordeal will speak to young readers as powerfully now as"

In [41]:
negative[1]

"Ian Serralier's moving account of the hardships the children and endure, and the self-knowledge and maturity they gain through their ordeal will speak to young readers as powerfully now as"

In [9]:
dict = {"simplified":data.simplified.values.tolist() ,"enhanced":data.enhanced.values.tolist(), "positive_enhanced":positive_list, "negative_enhanced":negative_list}

In [10]:
df = pd.DataFrame(dict)

In [11]:
df

,simplified,enhanced,positive_enhanced,negative_enhanced
0,Story fun!,"This gentle, charming story is sure to be enjoyed",This delightful and captivating story is sure ...,"This gentle, charming story is unlikely to be..."
1,Ian wrote about kids going through tough times...,Ian Serralier's moving account of the hardship...,\n\nIan Serralier's inspiring narrative of the...,Ian Serralier's stark portrayal of the suffer...
2,Milo goes on adventures in a kingdom and learn...,Through Miloâs amusing and often mind-boggli...,\nMilo's captivating and often wonderfully whi...,\nDespite Milo's often hilarious and implausib...
3,Hiawyn Oram makes fantasy tales with illustrat...,Hiawyn Oram is a master at understanding and i...,\nHiawyn Oram is an expert at capturing the vi...,\nHiawyn Oram fails to capture the imagination...
4,"Tension rising, can they break the pattern and...","As tension begins to rise, can they break the ...",\n\nAs they work together to manage the increa...,"\nAs tension increases, will they be unable to..."
...,...,...,...,...
2311,Mare try escape King.,We follow Mare as she tries to escape from the...,\nWe follow Mare as she bravely attempts to fl...,We follow Mare as she desperately tries to ev...
2312,"Mare sees if she should get others like her, f...",The reader sees Mare's inner struggle as she t...,\n\nThe reader gets to witness Mare's determin...,\n\nThe reader perceives Mare's inner turmoil ...
2313,Victoria made Mare go places beyond Silver Cou...,Victoria Aveyard has widened the world in whic...,\nVictoria Aveyard has vastly expanded the sc...,Victoria Aveyard has restricted the world in ...
2314,Characters fight battles.,The characters now wage political and physical...,The characters are now engaging in political ...,The characters now engage in detrimental poli...
2315,"Read Hunger Games and Maze Runner, then read R...",If you enjoyed The Hunger Games and The Maze R...,\nIf you loved The Hunger Games and The Maze R...,If you disliked The Hunger Games and The Maze...

In [13]:
df['positive_enhanced'] = df['positive_enhanced'].str.strip()

In [14]:
df['negative_enhanced'] = df['negative_enhanced'].str.strip()

In [15]:
df

,simplified,enhanced,positive_enhanced,negative_enhanced
0,Story fun!,"This gentle, charming story is sure to be enjoyed",This delightful and captivating story is sure ...,"This gentle, charming story is unlikely to be ..."
1,Ian wrote about kids going through tough times...,Ian Serralier's moving account of the hardship...,Ian Serralier's inspiring narrative of the jou...,Ian Serralier's stark portrayal of the sufferi...
2,Milo goes on adventures in a kingdom and learn...,Through Miloâs amusing and often mind-boggli...,Milo's captivating and often wonderfully whims...,Despite Milo's often hilarious and implausible...
3,Hiawyn Oram makes fantasy tales with illustrat...,Hiawyn Oram is a master at understanding and i...,Hiawyn Oram is an expert at capturing the vibr...,Hiawyn Oram fails to capture the imagination o...
4,"Tension rising, can they break the pattern and...","As tension begins to rise, can they break the ...",As they work together to manage the increasing...,"As tension increases, will they be unable to b..."
...,...,...,...,...
2311,Mare try escape King.,We follow Mare as she tries to escape from the...,We follow Mare as she bravely attempts to flee...,We follow Mare as she desperately tries to eva...
2312,"Mare sees if she should get others like her, f...",The reader sees Mare's inner struggle as she t...,The reader gets to witness Mare's determinatio...,The reader perceives Mare's inner turmoil as s...
2313,Victoria made Mare go places beyond Silver Cou...,Victoria Aveyard has widened the world in whic...,Victoria Aveyard has vastly expanded the scope...,Victoria Aveyard has restricted the world in w...
2314,Characters fight battles.,The characters now wage political and physical...,The characters are now engaging in political a...,The characters now engage in detrimental polit...
2315,"Read Hunger Games and Maze Runner, then read R...",If you enjoyed The Hunger Games and The Maze R...,If you loved The Hunger Games and The Maze Run...,If you disliked The Hunger Games and The Maze ...

In [24]:
df.to_excel("paraphrasing_dataset.xlsx")

***SUIIII***

In [45]:
import re
data_phrases = []

for i in data.index :

    # Split the paragraph into phrases using punctuation marks
    phrases = re.split(r'[.!?]', data["desc"][i])

    # Remove any leading or trailing whitespace from each phrase
    phrases = [phrase.strip() for phrase in phrases]

    # Remove any empty phrases from the list
    phrases = list(filter(None, phrases))

    # Print out the list of phrases
    for phrase in phrases:
        data_phrases.append(phrase)

In [46]:
len(data_phrases)

2186

In [47]:
data_phrases = list(set(data_phrases))

In [48]:
len(data_phrases)

2020

In [51]:
import time
simplified_data = []
for i in range(len(data_phrases)) :
    simplified_data.append(remove_adjectives(data_phrases[i]) )
    time.sleep(1)

In [52]:
len(simplified_data)

2020

In [53]:
if len(simplified_data) == len(data_phrases) :
    dict = {"simplified":simplified_data,"enhanced":data_phrases}
else : 
    dict = {"simplified":simplified_data,"enhanced":data_phrases[:len(simplified_data)]}

In [54]:
df = pd.DataFrame(dict)

In [55]:
df

,simplified,enhanced
0,\nStory fun!,"This gentle, charming story is sure to be enjoyed"
1,\nIan wrote about kids going through tough tim...,Ian Serralier's moving account of the hardship...
2,\nMilo goes on adventures in a kingdom and lea...,Through Miloâs amusing and often mind-boggli...
3,\nHiawyn Oram makes fantasy tales with illustr...,Hiawyn Oram is a master at understanding and i...
4,"\nTension rising, can they break the pattern a...","As tension begins to rise, can they break the ..."
...,...,...
2015,\nCornelia Funke's adventure fulfils its promi...,Cornelia Funke's magical fantasy adventure mor...
2016,"\n\nThey wade, splash, squelch and snowstorm.","They wade through the grass, splash through th..."
2017,"Enid Blyton wrote a story, first published in...",This delightful story from classic children's ...
2018,\nKids love fairy tales. They read them again ...,Children love the pattern of fairy tales and e...
2019,\n\nThis is good for first-time readers of Sha...,makes an ideal first introduction to Shakespea...

In [56]:
df.to_excel("data_stories_2k_rows.xlsx")

In [27]:
simplified_data  = []

In [28]:
simplified_data = df['simplified'].values.tolist()

In [29]:
len(simplified_data)

10671

In [57]:
v = list(set(simplified_data))
len(v)

2019

In [69]:
dg = pd.read_excel("data_10k_rows.xlsx")

In [70]:
dg

,Unnamed: 0,simplified,enhanced
0,0,\nEvery year they give a baby to the witch in ...,"Every year, the evil Protectorate offers a bab..."
1,1,\nThe witch is Xan. She takes babies to the vi...,"Yet, unknown to them, the witch is Xan, the pl..."
2,2,\nXan fed one baby the moon. Luna got magic. T...,"Yet, one day, Xan feeds one baby the moon by m..."
3,3,"Luna 13, change.","But nothing is straightforward, and when Luna ..."
4,4,Kelly won Newbery Medal for a book about fami...,Kelly Barnhill won the Newbery Medal in the US...
...,...,...,...
10666,10666,"\nPeople left cities, drove away cars, broke f...",Abandoning their cars on the roads and destroy...
10667,10667,"\nFamilies split, grown-ups forget, young peop...",When families are split apart and grown-ups fo...
10668,10668,\nClassic teen sci-fi. For readers of YA dysto...,"A classic in the teen sci-fi genre, perfect fo..."
10669,10669,\nSuzy saw a big train in her house!,Suzy Smith is very surprised when a huge magic...
10670,10670,\nTrolls deliver letters and parcels to magica...,"Staffed by trolls, the Impossible Postal Expre..."

In [71]:
s = dg['enhanced'].values.tolist()

In [72]:
s = list(set(s))

In [73]:
len(s)

296

In [74]:
s = dg['simplified'].values.tolist()    
s = list(set(s))  
len(s)

7759

In [75]:
dg = dg.drop_duplicates(subset=['enhanced'], keep='first')

In [76]:
dg

,Unnamed: 0,simplified,enhanced
0,0,\nEvery year they give a baby to the witch in ...,"Every year, the evil Protectorate offers a bab..."
1,1,\nThe witch is Xan. She takes babies to the vi...,"Yet, unknown to them, the witch is Xan, the pl..."
2,2,\nXan fed one baby the moon. Luna got magic. T...,"Yet, one day, Xan feeds one baby the moon by m..."
3,3,"Luna 13, change.","But nothing is straightforward, and when Luna ..."
4,4,Kelly won Newbery Medal for a book about fami...,Kelly Barnhill won the Newbery Medal in the US...
...,...,...,...
1113,1113,\nMare try escape King.,We follow Mare as she tries to escape from the...
1114,1114,"\nMare sees if she should get others like her,...",The reader sees Mare's inner struggle as she t...
1115,1115,\nVictoria made Mare go places beyond Silver C...,Victoria Aveyard has widened the world in whic...
1116,1116,\nCharacters fight battles.,The characters now wage political and physical...
1117,1117,"\nRead Hunger Games and Maze Runner, then read...",If you enjoyed The Hunger Games and The Maze R...

In [78]:
dg = dg.drop(['Unnamed: 0'],axis=1)

In [79]:
ddd = pd.read_excel("data_stories_2k_rows.xlsx")

In [89]:
print(ddd.shape)

(2020, 2)

In [81]:
ddd = ddd.drop(['Unnamed: 0'],axis=1)

In [84]:
result = pd.concat([ddd, dg])

In [85]:
result

,simplified,enhanced
0,\nStory fun!,"This gentle, charming story is sure to be enjoyed"
1,\nIan wrote about kids going through tough tim...,Ian Serralier's moving account of the hardship...
2,\nMilo goes on adventures in a kingdom and lea...,Through Miloâs amusing and often mind-boggli...
3,\nHiawyn Oram makes fantasy tales with illustr...,Hiawyn Oram is a master at understanding and i...
4,"\nTension rising, can they break the pattern a...","As tension begins to rise, can they break the ..."
...,...,...
1113,\nMare try escape King.,We follow Mare as she tries to escape from the...
1114,"\nMare sees if she should get others like her,...",The reader sees Mare's inner struggle as she t...
1115,\nVictoria made Mare go places beyond Silver C...,Victoria Aveyard has widened the world in whic...
1116,\nCharacters fight battles.,The characters now wage political and physical...
1117,"\nRead Hunger Games and Maze Runner, then read...",If you enjoyed The Hunger Games and The Maze R...

In [86]:
result['simplified'] = result['simplified'].str.strip()

In [90]:
result.shape

(2316, 2)

In [91]:
result.to_excel("final_data.xlsx")

In [92]:
result.reset_index(inplace=True)

In [94]:
result = result.drop(["index"],axis=1)

In [95]:
result

,simplified,enhanced
0,Story fun!,"This gentle, charming story is sure to be enjoyed"
1,Ian wrote about kids going through tough times...,Ian Serralier's moving account of the hardship...
2,Milo goes on adventures in a kingdom and learn...,Through Miloâs amusing and often mind-boggli...
3,Hiawyn Oram makes fantasy tales with illustrat...,Hiawyn Oram is a master at understanding and i...
4,"Tension rising, can they break the pattern and...","As tension begins to rise, can they break the ..."
...,...,...
2311,Mare try escape King.,We follow Mare as she tries to escape from the...
2312,"Mare sees if she should get others like her, f...",The reader sees Mare's inner struggle as she t...
2313,Victoria made Mare go places beyond Silver Cou...,Victoria Aveyard has widened the world in whic...
2314,Characters fight battles.,The characters now wage political and physical...
2315,"Read Hunger Games and Maze Runner, then read R...",If you enjoyed The Hunger Games and The Maze R...